debug/
.qmake.stash
Makefile.Debug
Makefile.Release
_config.yml
object_script.RayTracer.Debug
object_script.RayTracer.Release
release/qmake_qmake_immediate.qrc
ui_mainwindow.h
ui_custom_item.h
ui_custom_sphere.h
